<h1> {{ wbTitle$ | async }}</h1>
<div>
  <button (click)="heightPlus()">H+</button>
  <button (click)="heightMinus()">H-</button>
  <button (click)="widthPlus()">W+</button>
  <button (click)="widthMinus()">W-</button>
  <button (click)="addNewSticker()">Add New Sticker</button>
</div>
  <div id="testWhiteBoard"
       [style.width]="(wbWidth$ | async) + 'px'"
       [style.height]="(wbHeight$ | async) + 'px'"
  >...
  <div *ngFor="let sticker of (stickers$ | async) ">
    <ellzap-sticker
      [sticker]="sticker"
      (selected)="stickerSelected($event)"
      (movement)="stickerMove($event)"
    ></ellzap-sticker>
  </div>
  </div>

